<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google-site-verification" content="XpIGGxDYPq8goTP5Wq-qQlMPLS5ahgNcMolgUVyEGw0"/>
    <title data-i18n="head.title">Portfolio Aziz</title>
    <script src="assets/js/theme-init.js"></script>
    <link rel="preload" href="assets/fonts/poppins-latin-400.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" href="assets/fonts/roboto-latin-700.woff2" as="font" type="font/woff2" crossorigin/>
    <link
      rel="preload"
      as="image"
      href="assets/img/home/Home-Aziz-800.webp"
      imagesrcset="assets/img/home/Home-Aziz-400.webp 400w, assets/img/home/Home-Aziz-800.webp 800w"
      imagesizes="280px"
      media="(min-width: 768px)"
      fetchpriority="high"/>
    <link rel="shortcut icon" href="assets/img/svg/ui/icons.svg" type="image/svg+xml"/>
    <link href="assets/build/app.css" rel="stylesheet"/>
  </head>
  <body>
    {% include "partials/nav.njk" %}
    {{ content | safe }}
    {% include "partials/footer.njk" %}
    <script defer src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script defer src="assets/build/app.js"></script>
  </body>
</html>
