@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins&family=Roboto:wght@700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* navbar */
a.nav-item.nav-link.active {
  color: #4b5563;
}

a.nav-item.nav-link.active:hover {
  text-decoration: none;
}

a.nav-item.nav-link:hover {
  text-decoration: underline #000000;
}

a.download {
  background-image: linear-gradient(to right, #111827, #6b7280);
  font-weight: 500;
  transition: background-position 0.3s ease, transform 0.3s ease;
}

a.download:hover {
  transform: scale(0.9);
}

/* home */
p.text-me {
  text-align: justify;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.dot,
i.heart::before {
  animation: pulse 1s infinite;
}

a.navbar-brand {
  color: #111827;
  font-weight: 700;
  line-height: 36px;
  word-wrap: break-word;
}

.outer-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: inline-flex;
}

.inner-container {
  width: 320px;
  height: 360px;
  position: relative;
  cursor: pointer;
  transition: transform 0.9s ease;
}

.inner-container:hover {
  transform: scale(0.8);
  filter: saturate(150%);
}

.background-box {
  width: 280px;
  height: 320px;
  left: 40px;
  top: 40px;
  position: absolute;
  background: #e5e7eb;
  border: 8px #ffffff solid;
}

.image-box {
  width: 280px;
  height: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  border: 8px #ffffff solid;
  object-fit: cover;
}

/* about */
h2.home,
h2.about,
h2.skill,
h2.experience,
h2.project,
h2.certificate,
h2.contact,
h2.footer {
  position: relative;
  display: inline-block;
  color: #333;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

h2.about:before,
h2.skill:before,
h2.experience:before,
h2.project:before,
h2.certificate:before,
h2.contact:before,
h2.footer:before {
  text-align: center;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  height: 5px;
  width: 0;
  transition: width 0.5s ease;
  border-radius: 70px;
  transform: translateX(-50%);
  background: #808588;
}

h2.about:hover::before {
  width: 10%;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.inner-container {
  transform: translateX(0px);
  animation: float 6s ease-out infinite;
}

/* skill */
p.skill,
p.project,
p.certificate,
p.contact,
p.experience,
p.footer {
  color: #4b5563;
}

h2.skill:hover::before {
  width: 100%;
}

@keyframes anim {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

.anim:hover {
  animation: 1.5s infinite anim;
  cursor: pointer;
}

/* experience */
h2.experience:hover::before {
  width: 100%;
}

span.date {
  color: #10b981;
  font-family: "Alkatra", sans-serif;
}

.job-des {
  text-align: justify;
}

.expertise {
  font-style: italic;
}

img.size {
  width: 20%;
  height: 20%;
}

img.size,
img.mob,
img.hack {
  cursor: pointer;
}

img.size:hover,
img.mob:hover,
img.hack:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.link-project a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.link-project a:hover {
  text-decoration: underline;
}

/* project  */
h2.project:hover::before {
  width: 100%;
}

.project {
  text-align: center;
}

.date-project {
  color: #10b981;
  font-family: "Alkatra", sans-serif;
}

p.figma,
p.corel,
p.mobbin,
p.dribble,
p.chamjo,
p.lottie,
p.android,
p.java,
p.firebase,
p.php,
p.mysql,
p.ci4,
p.bt5,
p.vsc,
p.nb,
p.canva {
  cursor: pointer;
  background-color: #6b7280;
}

p.figma:hover,
p.corel:hover,
p.mobbin:hover,
p.dribble:hover,
p.chamjo:hover,
p.lottie:hover,
p.android:hover,
p.java:hover,
p.firebase:hover,
p.php:hover,
p.mysql:hover,
p.ci4:hover,
p.bt5:hover,
p.vsc:hover,
p.nb:hover,
p.canva:hover {
  background-color: #1f2937;
}

p.vsc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.description li {
  text-align: justify;
}

/* certificate */
h2.certificate:hover::before {
  width: 100%;
}

.certificate {
  text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(100%);
}

/* Contact and Form */
h2.contact:hover::before {
  width: 100%;
}

.contact {
  background-color: #fff;
  color: #999;
  margin: 2;
}

span.txt {
  color: #111827;
  font-size: 1.875rem;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: normal;
}

.content-txt {
  color: #111827;
  font-family: Basic;
  font-size: 5.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.875rem;
}

.hear {
  color: #6b7280;
  font-family: Basic;
  font-size: 5.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.875rem;
}

.form-control {
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 0;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.col-form-label {
  color: #000;
}

.btn form,
.form-control {
  height: 55px;
}

.btn form:active,
.btn form:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#message {
  resize: vertical;
}

.btn-contact {
  background-image: linear-gradient(to right, #111827, #6b7280);
  width: 100%;
  transition: background-position 0.3s ease, transform 0.3s ease;
}

.btn-contact:hover {
  background-position: left;
  transform: scale(0.9);
}

/* Footer */
h2.footer:hover::before {
  width: 100%;
}

a.email,
a.telep {
  text-decoration: none;
}

.text-footer {
  font-size: 12px;
}

a.git:hover,
a.fb:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.bi-c-circle ~ span {
  color: #10b981;
}

.gotopbtn {
  position: fixed;
  height: 50px;
  bottom: 50px;
  right: 30px;
}

.bi-copy {
  cursor: pointer;
}

/* Mode Dark */
[data-bs-theme="dark"] h2.home,
[data-bs-theme="dark"] h2.about,
[data-bs-theme="dark"] h2.skill,
[data-bs-theme="dark"] h2.experience,
[data-bs-theme="dark"] h2.project,
[data-bs-theme="dark"] h2.certificate,
[data-bs-theme="dark"] h2.footer,
[data-bs-theme="dark"] h2.contact {
  color: #ffffff;
}

[data-bs-theme="light"] h2.home,
[data-bs-theme="light"] h2.about,
[data-bs-theme="light"] h2.skill,
[data-bs-theme="light"] h2.experience,
[data-bs-theme="light"] h2.project,
[data-bs-theme="light"] h2.certificate,
[data-bs-theme="light"] h2.footer,
[data-bs-theme="light"] h2.contact {
  color: #333;
}

[data-bs-theme="dark"] p.experience,
[data-bs-theme="dark"] p.skill,
[data-bs-theme="dark"] p.project,
[data-bs-theme="dark"] p.certificate,
[data-bs-theme="dark"] p.contact,
[data-bs-theme="dark"] p.footer {
  color: #d1d5db;
}

[data-bs-theme="light"] p.experience,
[data-bs-theme="light"] p.skill,
[data-bs-theme="light"] p.project,
[data-bs-theme="light"] p.certificate,
[data-bs-theme="light"] p.contact,
[data-bs-theme="light"] p.footer {
  color: #4b5563;
}

[data-bs-theme="dark"] span.content-txt,
[data-bs-theme="dark"] span.txt {
  color: #ffffff;
}

[data-bs-theme="light"] span.content-txt,
[data-bs-theme="light"] span.txt {
  color: #111827;
}

[data-bs-theme="dark"] label.col-form-label {
  color: #ffffff;
}

[data-bs-theme="light"] label.col-form-label {
  color: #000000;
}

[data-bs-theme="dark"] #contact {
  background-color: #212529;
}

[data-bs-theme="light"] #contact {
  background-color: #ffffff;
}

h2.contact,
p.contact {
  background-color: inherit;
}

[data-bs-theme="dark"] a.download,
[data-bs-theme="dark"] .btn-contact {
  color: #1f2937;
  background-image: linear-gradient(to right, #f9fafb, #10b981);
}

[data-bs-theme="light"] a.download {
  color: #ffffff;
}

[data-bs-theme="light"] .btn-contact {
  background-image: linear-gradient(to right, #111827, #6b7280);
}

[data-bs-theme="light"] input.btn.form {
  color: #ffffff;
}

[data-bs-theme="dark"] input.btn.form {
  color: #1f2937;
}

[data-bs-theme="dark"] img.icon {
  content: url(../img/Icon-White.svg);
  width: 30px;
  height: 24px;
}

[data-bs-theme="dark"] span.hear {
  color: #10b981;
}

[data-bs-theme="dark"] span.email,
[data-bs-theme="dark"] span.telep {
  color: #9ca3af;
}

[data-bs-theme="light"] span.email,
[data-bs-theme="light"] span.telep {
  color: #000000;
}

[data-bs-theme="light"] .gotopbtn i {
  color: #000000;
}

[data-bs-theme="dark"] .gotopbtn i {
  color: #ffffff;
}

[data-bs-theme="dark"] i.git:before,
[data-bs-theme="dark"] i.fb:before {
  color: #ffffff;
}

[data-bs-theme="dark"] .link-project a {
  color: #ffffff;
}

[data-bs-theme="dark"] a.nav-item.nav-link.active:hover {
  text-decoration: none;
}

[data-bs-theme="dark"] a.nav-item.nav-link:hover {
  text-decoration: underline #ffffff;
}

/* Responsive Mobile */
@media only screen and (max-width: 390px),
  only screen and (max-width: 360px),
  only screen and (max-width: 414px) {
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  p.chamjo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .inner-container {
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
  }
}
