---
layout: layouts/base.njk
---
{% include "partials/home.njk" %}
{% include "partials/education.njk" %}
{% include "partials/skill.njk" %}
{% include "partials/experience.njk" %}
{% include "partials/project.njk" %}
{% include "partials/certificate.njk" %}
{% include "partials/contact.njk" %}
