<section id="certificate">
  <div class="container p-3">
    <div
      class="certificate"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0">
      <h2 class="certificate text-uppercase" data-i18n="ctc.section.title">
        Activity Certificate
      </h2>
      <p class="certificate" data-i18n="ctc.section.defCtc">
        Some of the certificate projects I have achieved are
      </p>
    </div>
    <div class="row shadow" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-delay="300">
      <div id="carouselExampleInterval" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="10" aria-label="Slide 11"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="11" aria-label="Slide 12"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="12" aria-label="Slide 13"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="13" aria-label="Slide 14"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Sertifikat Magang INACO.webp"
              class="d-block w-100"
              alt="Sertifikat Magang INACO - Web Developer"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Sertifikat Magang Dankos Farma.webp"
              class="d-block w-100"
              alt="Sertifikat Kampus Merdeka Magang - Web Developer"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Sertifikat Pelatihan Hacktiv8.webp"
              class="d-block w-100"
              alt="Sertifikat Kampus Merdeka Pelatihan - Web Developer"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Sertifikat Juara 3 Desain Poster.webp"
              class="d-block w-100"
              alt="Certificate Design Poster"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Sertifikat Gemastik - Abdul Aziz Firdaus.webp"
              class="d-block w-100"
              alt="Certificate Gemastik XV"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Sertifikat Junior Web Developer.webp"
              class="d-block w-100"
              alt="Certificate Junior Web Developer"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Certificate Junior Mobile Developer.webp"
              class="d-block w-100"
              alt="Certificate Junior Mobile Developer"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Certificate Courses Cyber Security.webp"
              class="d-block w-100"
              alt="Certificate Cyber Security Healthy"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Certificate Cisco Networking Academy.webp"
              class="d-block w-100"
              alt="Certificate Cisco Networking Academy"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Certificate Courses Algoritma Tingkat Lanjut.webp"
              class="d-block w-100"
              alt="Certificate Courses Algoritma Tingkat Lanjut"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Certificate Courses Pengenalan DOM.webp"
              class="d-block w-100"
              alt="Certificate Courses Pengenalan DOM"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Certificate Courses Materialize CSS.webp"
              class="d-block w-100"
              alt="Certificate Courses Materialize CSS"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Certificate Courses Asynchronous Javascript.webp"
              class="d-block w-100"
              alt="Certificate Courses Asynchronous Javascript"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/img/certificates/Sertifikat Pengabdian Masyarakat.webp"
              class="d-block w-100"
              alt="Sertifikat Pengabdian Masyarakat"
              width="1200"
              height="825"
              loading="lazy"/>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon carousel-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon carousel-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>