<section id="education">
      <div class="container p-3">
        <div
          class="text-center"
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0"
        >
          <h2
            class="education text-uppercase"
            data-i18n="edu.section.titleAbout"
          >
            Education and Organization
          </h2>
          <p class="education" data-i18n="edu.section.defAbout">
            Education history and organization experience
          </p>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-4">
            <div
              class="card shadow p-2 w-100 h-100"
              data-aos="fade-up"
              data-aos-anchor-placement="top-bottom"
              data-aos-delay="500"
            >
              <img
                src="assets/img/logos/Logo UPB.webp"
                class="card-img-top w-25 h-25 m-auto d-block object-fit-contain upb"
                alt="Logo UPB"
                loading="lazy"
              />
              <div class="card-body">
                <h5
                  class="card-title text-center fw-bold"
                  data-i18n="edu.section.titleSchool"
                >
                  Pelita Bangsa University
                </h5>
                <p class="card-text text-edu" data-i18n="edu.section.defSchool">
                  Bachelor Degree in Pelita Bangsa University (UPB) is a private
                  campus resulting from a change in form from the merger between
                  the College of Economics (STIE) and the College of Engineering
                  (STT) in accordance with the Decree of the Minister of
                  National Education of the Republic of Indonesia Number:
                  664/KPTI/I/2019 dated August 2, 2019.
                </p>
                <ul>
                  <li data-i18n="edu.section.pointOne">
                    3rd place for education-themed poster design.
                  </li>
                  <li data-i18n="edu.section.pointTwo">
                    Participants made scientific work on ICT for Gemastik XV, at
                    Brawijaya University.
                  </li>
                  <li data-i18n="edu.section.pointThree">
                    Active in the informatics engineering student association
                    (HIMATIF) for 8 months.
                  </li>
                  <li data-i18n="edu.section.pointFour">
                    Active in organizing national seminars and workshops.
                  </li>
                  <li data-i18n="edu.section.pointFive">
                    Teaching human and computer interaction courses discussing
                    UI/UX Design material and practicing applications.
                  </li>
                </ul>
                <p class="card-text">
                  <small class="date fw-medium" data-i18n="edu.section.date"
                    >2021 - 2025</small
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div
              class="card shadow p-2 w-100 h-100"
              data-aos="fade-up"
              data-aos-anchor-placement="top-bottom"
              data-aos-delay="300"
            >
              <img
                src="assets/img/logos/Logo SMK.webp"
                class="card-img-top w-25 h-25 m-auto d-block object-fit-contain smk"
                alt="Logo SMK"
                loading="lazy"
              />
              <div class="card-body">
                <h5
                  class="card-title text-center fw-bold"
                  data-i18n="edu.section.titleSchSmk"
                >
                  SMK Bina Mandiri Bekasi
                </h5>
                <p class="card-text text-edu" data-i18n="edu.section.defSchSmk">
                  SMKS BINA MANDIRI is one of the education units with SMK level
                  in Bintara, Bekasi Barat sub-district, Bekasi city, West Java.
                  In carrying out its activities, SMKS BINA MANDIRI is under the
                  auspices of the Ministry of Education and Culture.
                </p>
                <ul>
                  <li data-i18n="edu.section.pointOneSmk">
                    I learned how to use a proxy, install ubuntu, install
                    windows, and do cable routing (straight and crossover).
                  </li>
                  <li data-i18n="edu.section.pointTwoSmk">
                    I learned to use of Adobe Photoshop software and the basic
                    C++ Language.
                  </li>
                  <li data-i18n="edu.section.pointThreeSmk">
                    Passed the competency test with good results.
                  </li>
                </ul>
                <p class="card-text">
                  <small class="date fw-medium" data-i18n="edu.section.dateSmk"
                    >2018 - 2021</small
                  >
                </p>
              </div>
            </div>
          </div>
          <!-- In Organizational -->
          <div class="col mb-4">
            <div
              class="card shadow p-2 himatif w-100 h-100"
              data-aos="fade-up"
              data-aos-anchor-placement="top-bottom"
              data-aos-delay="300"
            >
              <img
                src="assets/img/logos/Logo HIMATIF.webp"
                class="card-img-top hima w-25 h-25 m-auto d-block object-fit-contain"
                alt="Logo HIMATIF"
                loading="lazy"
              />
              <div class="card-body">
                <h5
                  class="card-title fw-bold"
                  data-i18n="edu.section.titleOrgnz"
                >
                  Informatics Engineering Student Association
                </h5>
                <p
                  class="card-title fw-medium fst-italic"
                  data-i18n="edu.section.jobOrgnz"
                >
                  Communication and Information Media Department
                </p>
                <ul>
                  <li data-i18n="edu.section.pointOneOrgnz">
                    Manage 3 relevant social media accounts to increase
                    engagement.
                  </li>
                  <li data-i18n="edu.section.pointTwoOrgnz">
                    Plan and create 30+ monthly content pieces to increase
                    visibility.
                  </li>
                  <li data-i18n="edu.section.pointThreeOrgnz">
                    Provide information to 1000+ HIMATIF members as well as
                    external audiences.
                  </li>
                  <li data-i18n="edu.section.pointFourOrgnz">
                    Document 10+ activities every month for archive and
                    publication.
                  </li>
                </ul>
                <p class="card-text">
                  <small class="date" data-i18n="edu.section.dateOrgnz"
                    >May - December 2022</small
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div
              class="card shadow p-2 kartar w-100 h-100"
              data-aos="fade-up"
              data-aos-anchor-placement="top-bottom"
              data-aos-delay="300"
            >
              <img
                src="assets/img/logos/Logo-Karang_Taruna.webp"
                class="card-img-top kartar w-25 h-25 m-auto d-block object-fit-contain"
                alt="Logo Karang Taruna"
                loading="lazy"
              />
              <div class="card-body">
                <h5
                  class="card-title fw-bold"
                  data-i18n="edu.section.titleOrgns"
                >
                  Karang Taruna
                </h5>
                <p
                  class="card-title fst-italic fw-medium"
                  data-i18n="edu.section.jobOrgns"
                >
                  Sports Division
                </p>
                <ul>
                  <li data-i18n="edu.section.pointOneOrgns">
                    Plan and execute sports activities, such as tournaments,
                    competitions, or recreational activities.
                  </li>
                  <li data-i18n="edu.section.pointTwoOrgns">
                    Propose and develop sports programs that can increase
                    participation and achievement.
                  </li>
                  <li data-i18n="edu.section.pointThreeOrgns">
                    Adjusting the program to the needs and interests of Youth
                    Organization members.
                  </li>
                </ul>
                <p class="card-text">
                  <small class="date" data-i18n="edu.section.dateOrgns"
                    >July 2023 - Present</small
                  >
                </p>
              </div>
            </div>
          </div>
          <!-- End Organizatonal -->
        </div>
      </div>
    </section>
