<section id="skill">
      <div class="container p-3">
        <div
          class="text-center"
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
        >
          <h2 class="skill text-uppercase" data-i18n="skill.title">Skill</h2>
          <p class="skill" data-i18n="skill.textTitle">
            The skills, tools and technologies I am really good at
          </p>
        </div>
        <div
          class="row row-cols-3 row-cols-sm-2 row-cols-lg-3 d-flex justify-content-center pt-2 text-center"
          data-aos="fade-zoom-out"
          data-aos-delay="300"
        >
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-javascript.svg"
              alt="Icon Javascript"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">JavaScript</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-php.svg"
              alt="Icon PHP"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Php</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-java.svg"
              alt="Icon Java"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Java</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-csharp.svg"
              alt="Icon CSharp"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">C#</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-dotnet.svg"
              alt="Icon DotNet"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Asp.Net Core</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-figma.svg"
              alt="Icon Figma"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Figma</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-bootstrap.svg"
              alt="Icon Bootstrap"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Bootstrap</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-materialize.svg"
              alt="Icon Materialize CSS"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Materialize CSS</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-tailwindcss.svg"
              alt="Icon Tailwind CSS"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Tailwind CSS</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-codeigniter.svg"
              alt="Icon Framework Codeigniter"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Codeigniter</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-laravel.svg"
              alt="Icon Laravel"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Laravel</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-livewire.svg"
              alt="Icon Livewire"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Livewire</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-git.svg"
              alt="Icon Git"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Git</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-github.svg"
              alt="Icon Github"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Github</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-gitlab.svg"
              alt="Icon Gitlab"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Gitlab</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-sql.svg"
              alt="Icon SQL Server"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">SQL Server</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-firebase.svg"
              alt="Icon Firebase"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">Firebase</p>
          </div>
          <div class="col anim">
            <img
              src="assets/img/svg/skills/icon-mysql.svg"
              alt="Icon MySQL"
              loading="lazy"
            />
            <p class="fs-6 text-body mt-2 mb-2">MySQL</p>
          </div>
        </div>
      </div>
    </section>
